/* You can add global styles to this file, and also import other style files */
/* @import "tailwindcss"; */
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Callheart';
  src: url('./app/assets/font/Callheart-Rp7Vv.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* h1 {
  font-family: 'Callheart';
} */

nav .logo {
  font-family: 'Callheart';
}