<app-nav-bar></app-nav-bar>
<section class="py-20 bg-base-300">
  <div class="container mx-auto px-6 text-center">
    <!-- Titre principal -->
    <h1 class="text-5xl font-bold mb-6">Transformez votre corps, transformez votre vie</h1>

    <!-- <button class="btn">Button</button> -->

    <!-- <button class="btn w-64 rounded-full">Button</button> -->

    <!-- Sous-titre -->
    <p class="text-xl mb-8">
      Avec un coaching personnalisé, atteignez vos objectifs sportifs et adoptez un mode de vie sain.
    </p>

    <!-- Boutons d'appel à l'action -->
    <div class="flex justify-center space-x-4">
      <a routerLink="/service" class="btn btn-primary font-semibold py-3 px-8">
        Découvrir nos programmes
      </a>
      <!-- <a routerLink="/contact"
        class="btn bg-transparent border border-white text-white font-semibold py-3 px-8 rounded-lg hover:bg-white hover:text-gray-900 transition duration-300">
        Nous contacter
      </a> -->
      <a routerLink="/contact" class="btn btn-outline btn-secondary">
        Nous contacter
      </a>
    </div>

    <!-- <button class="btn btn-primary">Gros boutton</button> -->
    <!-- <br>
    <button class="btn">Button</button>
    <button class="btn btn-neutral">Neutral</button>
    <button class="btn btn-primary">Primary</button>
    <button class="btn btn-secondary">Secondary</button>
    <button class="btn btn-accent">Accent</button>
    <button class="btn btn-ghost">Ghost</button>
    <button class="btn btn-link">Link</button> -->
  </div>
</section>